{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">
    <h1>Sobre o Site</h1>
    <br>
    <h3>Bem-vindo ao Agenda! Este site permite que você crie, edite, visualize e exclua contatos pessoais.</h3>
    <br>
    <h4>Recursos do site:</h4>
    <ul class="itens">
        <li>Cadastro de usuários: qualquer pessoa pode se cadastrar para acessar o site.</li>
        <li>Listagem de contatos: você pode visualizar uma lista de contatos cadastrados por todos os usuários.</li>
        <li>Criação, edição e exclusão de contatos: você pode criar novos contatos, editar os existentes e excluí-los.</li>
        <li>Categorias de contato: cada contato pode ser associado a uma categoria, como amigos, família, trabalho ou conhecidos.</li>
        <li>Envio de fotos: é possível enviar uma foto para cada contato.</li>
        <li>Controle de acesso: apenas o usuário que criou um contato pode editá-lo ou excluí-lo.</li>
    </ul>
    <br>
    <p>Esperamos que você aproveite o Site de Contatos e encontre todas as funcionalidades úteis para gerenciar sua lista de contatos pessoais!</p>

  </div>
{% endblock content %}